/* 여백 초기화 */

* {
  margin: 0;
  padding: 0;
}

/* 버튼 초기화 */

/* 리스트 타입 초기화 */
ol,
ul,
li {
  list-style-type: none;
}
/* a 링크 초기화 */
a {
  color: #222;
  text-decoration: none;
}
a:hover {
  color: #390;
}
